/* Inter-Medium */
@font-face {
  font-family: "Inter";
  font-style: medium;
  font-weight: 500;
  src:  url("./fonts/inter-v11-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */ 
        url("./fonts/inter-v11-latin-regular.woff") format("woff"); /* Modern Browsers */
}
/* Inter-SemiBold */
@font-face {
  font-family: "Inter";
  font-style: SemiBold;
  font-weight: 600;
  src:  url("./fonts/inter-v11-latin-500.woff2") format("woff2"), /* Super Modern Browsers */ 
        url("./fonts/inter-v11-latin-500.woff") format("woff"); /* Modern Browsers */
}
/* Inter-Bold */
@font-face {
  font-family: "Inter";
  font-style: Bold;
  font-weight: 700;
  src:  url("./fonts/inter-v11-latin-600.woff2") format("woff2"), /* Super Modern Browsers */ 
        url("./fonts/inter-v11-latin-600.woff") format("woff"),
  
}
/* Inter-ExtraBold */
@font-face {
  font-family: "Inter";
  font-style: ExtraBold;
  font-weight: 800;
  src:  url("./fonts/inter-v11-latin-700.woff2") format("woff2"), /* Super Modern Browsers */ 
        url("./fonts/inter-v11-latin-700.woff") format("woff"),
}
